.all{
    background-color: black;
    font-family: "Comic Sans MS";
    background-image: url(Background1.jpg);
    background-size: cover;
}
.center{
    padding-top: 105px;
    text-align: center;
    font-size: larger;
    color: khaki;
}
.button{

    border-color: khaki;
    color: black;
    font-family: "Comic Sans MS";
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.c1{
    border-style: solid;
    font-family: "Comic Sans MS";
    border-color: khaki;
    font-size:15pt;
    height:32px;
    width:300px;
}